{% extends 'main.html' %} {% block content %}
<div class="container">
  <h1 class="mt-5">Welcome to the Home Page</h1>
  {% if rooms %} {% for rooms in rooms %}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ rooms.name }}</h5>
      <p class="card-text">{{ rooms.description }}</p>
      <p class="card-text">
        <small class="text-muted">Created at: {{ rooms.created }}</small>
      </p>
      <a href="{% url 'room' rooms.id %}" class="btn btn-primary">View Room</a>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="alert alert-info" role="alert">
    No rooms available at the moment.
  </div>
  {% endif %}
</div>
{% endblock %}
